body{
    padding: 50px;
    background-color: rgb(234, 217, 250);
}

#icon_img{
    width:95px;
    height:95px;
}

.case_div{
    width:405px;
    height:550px;
    background-color:pink;
    box-shadow: 5px 5px 5px skyblue;
    border-radius: 20px;
    border:5px solid black;
    padding-left: 15px;
}

.img_test{
    width:300px;
    border-radius: 20px;
    border:2px solid black;
}

.result_div{
    border-radius: 20px;
    border: 5px rgb(212, 38, 212) ;
    background-color: rgb(245, 140, 245);
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}